<div class="text-center py-0 mt-5 mb-0" id="logotop">
  <img
    src="assets/logo.png"
    alt="Logo"
    class="img-fluid logo-img"
  />
</div>
<div class="container mt-5 py-0 mt-0 mb-0">
  <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="input-group w-100">
            <input type="text" class="form-control" placeholder="Buscar produtos..." [(ngModel)]="busca"
            (input)="filtrarSugestoes()"
            (focus)="mostrarSugestoes = true"
            (blur)="ocultarSugestoesComAtraso()"/>
            <ul *ngIf="mostrarSugestoes && sugestoes.length > 0"
              class="list-group position-absolute w-100 z-3"
              style="top: 100%; left: 0;">
              <li class="list-group-item list-group-item-action"
                *ngFor="let sugestao of sugestoes"
                  (click)="selecionarSugestao(sugestao)">
                  {{ sugestao }}
              </li>
            </ul>
          </div>
        </div>
        <div class="justify-content-center mb-3">
          <div class="d-grid">
            <button type="button" class="btn btn-primary btn-dark" (click)="irParaMenu()" id="menu">PRODUTOS</button>
          </div>
        </div>
        <div class="row text" id="card">
          <!-- Login -->
          <div class="col-md-6 border-end pe-md-4 border-md-end-0" id="comcadastro">
            <h4>Já tenho cadastro</h4>
            <form (ngSubmit)="login()">
              <div class="mb-3">
                <label for="loginEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="loginEmail" placeholder="Digite seu email"[(ngModel)]="email" name="email" (click)="erroLogin = false">
              </div>
              <div class="mb-3">
                <label for="loginSenha" class="form-label">Senha</label>
                <input type="password" class="form-control" id="loginSenha" placeholder="Digite sua senha"[(ngModel)]="senha" name="senha">
              </div>
                <div class="col-md-6 mb-3 justify-content-between">
                  <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </form>
            <div class="col-md-6 mb-3 justify-content-between">
              <button class="btn btn-secondary" (click)="recuperarSenha()">Recuperar senha</button>
            </div>

            <div class="col-md-6 mb-3 justify-content-between" *ngIf="isAdmin" >
              <button class="btn btn-primary" (click)="abrirAreaAdminProduto()">Administração de Produtos</button>
            </div>

            <div class="col-md-6 mb-3 justify-content-between" *ngIf="isAdmin" >
              <button class="btn btn-primary" (click)="abrirAreaAdminUsuario()">Administração de Usuários</button>
            </div>


          <div *ngIf="erroLogin"  class="alert alert-danger mt-3">
            E-mail ou senha inválidos.
          </div>

          </div>

          <!-- Cadastro -->
          <div class="col-md-6 pe-md-10" id="semcadastro">
            <h4>Ainda não tenho cadastro</h4>
            <p>Clique abaixo para se cadastrar:</p>
            <a routerLink="/cadastro" class="btn btn-success ">Clique aqui</a>
          </div>
        </div>
      </div>
    </div>
  </div>
